body {
  margin: 0;
  font-family: Montserrat;
}

ul {
  list-style: none;
}

.nav-menu {
  margin: 0 auto;
  text-align: center;
  padding: 25.5px 330px;
}

.nav-menu-item {
  display: inline-block;
}

.nav-menu-item:not(:nth-child(4n)) {
  margin-right: 72px;
}

.nav-menu-link {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ff0000;
}

.motivation-photo {
  width: 100%;
}

.motivation-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  text-align: center;
  padding-top: 49px;
  padding-bottom: 10px;
  margin: 0;
}

.motivation-description {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
  text-align: center;
  padding-top: 28px;
  margin: 0 67.5px;
}

.btn-container {
  margin-top: 66px;
  margin-bottom: 82px;
  display: flex;
  justify-content: center;
}
.btn-started {
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
  border: red;
  background: #ff0000;
  border-radius: 4px;
  padding: 18px 43.5px;
}

.confidential-data {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
  display: block;
  text-align: right;
  margin-right: 105px;
  margin-bottom: 29px;
}
